### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [359]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [363]:
total_schools = len(df.school_name.unique())
total_students = len(df["Student ID"].unique())
total_budget = "${:,.2f}".format(sum(school_data.budget))

average_math_score = (df.math_score).mean()
average_reading_score = (df.reading_score).mean()
passing_math = (((df.math_score)>=70).value_counts([0])*100).tolist()
passing_math_percent = passing_math[0]
passing_reading = ((df.reading_score>=70).value_counts([0])*100).tolist()
passing_reading_percent = passing_reading[0]
passing_overall_percent = ((((df.math_score)>=70) & ((df.reading_score)>=70)).value_counts([0])*100).tolist()
passing_overall_percent = passing_overall_percent[0]
summary_df = pd.DataFrame([[total_schools, total_students, total_budget, average_math_score, average_reading_score, passing_math_percent, passing_reading_percent, passing_overall_percent]],
                         columns= ['Total Schools', 'Total Students', 'Total Budget','Average Math Score' , 'Average Reading Score', '% Math Passing', '% Reading Passing', '% Overall Passing'])
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Math Passing,% Reading Passing,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [370]:
df["passing_math"] = (df['math_score'])>=70
df["passing_reading"] = (df.reading_score)>=70
df["overall_pass"] = df['passing_math'] & df['passing_reading']

group_by_school = df.groupby('school_name')
math_score = group_by_school['math_score'].mean()
reading_score = group_by_school['reading_score'].mean()
total_students = group_by_school['student_name'].count()
school_type = school_data.set_index(["school_name"])["type"]
total_budget = school_data.set_index(["school_name"])["budget"]
per_student_budget = total_budget/total_students


passing_math_percent = group_by_school['passing_math'].apply(lambda x:np.sum(x)/len(x)*100)
passing_reading_percent = group_by_school['passing_reading'].apply(lambda x:np.sum(x)/len(x)*100)
passing_overall_percent = group_by_school['overall_pass'].apply(lambda x:np.sum(x)/len(x)*100)


summary_by_school = pd.DataFrame({"School Type": school_type,
                                  "Total Students": total_students,
                                  "Total School Budget": total_budget.map('${:,.2f}'.format),
                                  "Per Student Budget": per_student_budget.map('${:.2f}'.format),
                                  "Average Math Score": math_score,
                                  "Average Reading Score": reading_score,
                                  "% Passing Math": passing_math_percent,
                                  "% Passing Reading": passing_reading_percent,
                                  "% Overall Passing": passing_overall_percent,
                                  
                              })
summary_by_school = summary_by_school.rename_axis(None)
summary_by_school

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [382]:
summary_by_school.sort_values(by=["% Overall Passing"], ascending = False)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [379]:
summary_by_school.sort_values(by=["% Overall Passing"])

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type

In [347]:
# School Name - no group
# School Type - no group
# Total Students - no group
# Total School Budget - no group
# Per Student Budget - new column
# Average Math Score - groupby
# Average Reading Score = groupby
# % Passing Math - special groupby - and number passing column
# % Passing Reading - spceial group - and number passing column.
# % Overall Passing (The percentage of students that passed math and reading.)



# final_df = pd.merge(school_type, summary_by_school, how="left", on="school_name")
# final_df

# df["budget_per_student"] 

school_data["budget_per_student"] = (school_data['budget']/df['size']).map('${:.2f}'.format)
df["passing_math"] = (df['math_score'])>=70
df["passing_reading"] = (df.reading_score)>=70
df["overall_pass"] = df['passing_math'] & df['passing_reading']

group_by_school = df.groupby('school_name')
math_score = group_by_school['math_score'].mean()
reading_score = group_by_school['reading_score'].mean()
total_students = group_by_school['student_name'].count()
school_type = school_data.set_index(["school_name"])["type"]
total_budget = school_data.set_index(["school_name"])[x"budget"]
per_student_budget = school_data.set_index(["school_name"])["budget_per_student"]
print(per_student_budget)

passing_math_percent = group_by_school['passing_math'].apply(lambda x:np.sum(x)/len(x)*100)
passing_reading_percent = group_by_school['passing_reading'].apply(lambda x:np.sum(x)/len(x)*100)
passing_overall_percent = group_by_school['overall_pass'].apply(lambda x:np.sum(x)/len(x)*100)


summary_by_school = pd.DataFrame({"School Type": school_type,
                                  "Total Students": total_students,
                                  "Total School Budget": total_budget,
                                  "Per Student Budget": per_student_budget,
                                  "Average Math Score": math_score,
                                  "Average Reading Score": reading_score,
                                  "% Passing Math": passing_math_percent,
                                  "% Passing Reading": passing_reading_percent,
                                  "Passing Overall Percent": passing_overall_percent,
                                  
                              })


# final_df = pd.merge(school_type, summary_by_school, how="left", on="school_name")
# final_df
summary_by_school["Per Student Budget"] = (summary_by_school["Total School Budget"]) / (summary_by_school["Total Students"])
# school_data
# per_student_budget
                #.astype(str).astype(int).map('${:,.2f}'.format))
summary_by_school

school_name
Huang High School         $655.00
Figueroa High School      $646.01
Shelton High School       $362.22
Hernandez High School    $1036.00
Griffin High School       $314.54
Wilson High School        $452.37
Cabrera High School       $370.71
Bailey High School       $1071.28
Holden High School         $85.05
Pena High School          $200.84
Wright High School        $359.75
Rodriguez High School     $873.28
Johnson High School      $1060.90
Ford High School          $604.70
Thomas High School        $357.60
Name: budget_per_student, dtype: object

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Passing Overall Percent
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333